@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;500&display=swap');
.profile-image {
    width: 350px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 20px 50px black;
}

.coding {
    background-color: black;
    padding: 20px;
    width: 100%;
}

.text-code {
    color: #ecf0f1;
}

.sidebar-anchor.active {
    color: black;
}

.generated-text {
    color: #DD3934;
}

.introduction {
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.introduction:hover {
    color: #1E1F1F;
}

.resume {
    font-size: 18px;
}

.navbar-des {
    display: flex;
    align-items: start;
    list-style-type: none;
}

.nav-des {
    position: relative;
    padding: 4px 0;
    color: #ecf0f1;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.7;
}

.nav-des::after {
    position: absolute;
    content: "";
    top: 80%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ee6a55;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.nav-des:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    color: #ee6a55 !important;
}

.nav-des:hover {
    color: #ee6a55 !important;
}

.card-des {
    box-shadow: 0 20px 50px black;
}

.icon-des {
    width: 12px;
    height: 12px;
}

.cursor,
.cursor2,
.cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.cursor {
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99999;
}

.cursor2,
.cursor3 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.cursor2.hover,
.cursor3.hover {
    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
    transform: scale(2) translateX(-25%) translateY(-25%);
    border: none
}

.cursor2 {
    border: 2px solid #fff;
    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor2.hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px) {
    .cursor,
    .cursor2,
    .cursor3 {
        display: none
    }
}